.order-table-container {
    margin: 2rem auto;
    width: 100%;
    max-width: 1200px;
}
.order-table {
    width: 100%;
    background-color: white;
    border: 1px solid #e2e8f0;
}
.order-table thead {
    background-color: #f7fafc;
    text-align: left;
    color: #4a5568;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.order-table th, .order-table td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e2e8f0;
}
.order-table tbody tr:hover {
    background-color: #f7fafc;
}
.order-table a {
    color: #4299e1;
}
.status-completed {
    background-color: #f0fff4;
    color: #38a169;
}
.status-pending {
    background-color: #fffff0;
    color: #d69e2e;
}
.status-ordered {
    background-color: #faf5ff;
    color: #9f7aea;
}
.payment-status-true {
    color: black;
}
.payment-status-false {
    color: white;
}
.sync-status-true {
    color: black;
}
.sync-status-false {
    color: white;
}
.status-completed {
    background-color: #4caf50; /* Xanh lá */
    color: white;
  }
  
  .status-pending {
    background-color: #ff9800; /* Cam */
    color: white;
  }
  
  .status-unpaid {
    background-color: #f44336; /* Đỏ */
    color: white;
  }
  .btn-view-details {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-view-details:hover {
    background-color: #0056b3;
  }
  